/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

/* Variables */
$cream: #F7F6ED;
$gray: 	#8B8B8B;
$pink:	#FF3766;
$green:	#54B400;
$green-lt:	#D8FD94;
$charcoal: #2F2F2F;

/* Global */
body {
	background: $cream;
	color: $gray;
}
.center {
  margin: auto;
  text-align: center;
}
.float-r {
	float: right;
	text-align: right;
}

/* Fonts */
body, h1, h2, h3, h4, h5, h6 {
	line-height: 24px;
	letter-spacing: 0px;
}
a {
	text-decoration: none;
	color: $cream;
	&:hover {
		color: $green-lt;
	}
}
h2 {
	font-family: Raleway-Light;
	font-size: 36px;
    line-height: 45px;
}
h3 {
	font-family: Raleway-Light;
	font-size: 28px;
}
h4 {
	font-family: Raleway;
	font-size: 18px;
}
h6 {
	font-family: Raleway-Light;
	font-size: 14px;		
}
p {
	font-family: Raleway;
	font-size: 14px;		
}

/* Hero */
.hero-bg {
	background: #DF0067;
	position: absolute;
	z-index: -10;
	width: 100%;
	height: 100%;
    overflow: hidden;
    -webkit-animation: hue 20s infinite ease-in-out;
    img {
     	-webkit-animation: animatedBackground 500s infinite ease-out;
     	width: 100%;
     	overflow: hidden;
     	opacity: 0.6;
    }
}
.hero {
	// background: url(../images/ocean-mix.svg) #DF0067;
	background-size: 85%;
	max-height: 605px;
	min-height: 335px;
	overflow: hidden;
	position: relative;
	z-index: 10;
    // -webkit-animation: hue 42s infinite ease-in-out;
	h4 {
		margin-top: 20px;
		color: $cream;
		float: right;
	}
	h1 {
		margin-top: 60px;
	}
	.logo-em {
	    animation: pulse 5s linear infinite alternate;
	    img {
	    	height: 300px;
	    	width: 350px;
	    	&:hover {
	    	animation: jello 2s;
	    	transform: color($green-lt);
	    }
    }

	}
	.show-seeds {
		opacity: 0;
	}
	.seeds {
		position: absolute;
		z-index: 20;
		float: right;
		right: 10%;
		top: 50%;
		img {
			&:hover {
				animation: zoomOutDown 2s ease-in;
			}
		}
	}
}
.melon-top {
	margin-top: 80px;
}
.green-border {
	height: 7px;
	width: 100%;
	background: $green repeat-x;
	position: absolute;
	z-index: -1;
	bottom: 0;
	margin-bottom: 0;
}
.em-img {
	position: absolute;
    z-index: -10;
    bottom: 0;
    img {
    	margin: -10px;
    }
}

.portfolio {
	padding-top: 15px;
	background: $cream;
	h2 {
		margin-bottom: 20px;
	}
	.grid-item {
		/* Rectangle 2: */
		background: #D8D8D8;
		margin-bottom: 4%;
		img {
			width: 100%;
		}
	}
	h4 {
	    margin-top: -75px;
	}
	.seeds {
		transform: scale(0.85);
		&:hover {
			transform: color($green);
		}
	}
	h6 {
	    max-width: 430px;
    	margin: auto;
    	margin-bottom: 30px;
	}
}
.grid {
	margin-bottom: 30px;
}

.portfolio-content {
	background: $cream;
    overflow: hidden;
}
.cbp-l-filters-alignCenter{
	background: $cream;
	padding-bottom: 50px;
	margin-bottom: -40px;
}

.about {
	margin-bottom: 60px;
	h3 {
		margin-bottom: 15px;
		margin-top: 30px;
	}
	a {
		color: $green;
	}
}

.footer {
	background: url("../images/em-logo-light.svg") repeat-x $green;
	padding-top: 50px;
	padding-bottom: 50px;
	color: $cream;
	animation: animatedFooter 1000s ease-out;
	h2 {
		margin: 20px auto 30px;
	}
	h4 {
		margin-bottom: 10px;
	}
}

.copyright {
	padding-top: 8px;
	padding-bottom: 5px;
}


/* Larger than mobile */
@media (min-width: 200px) and (max-width: 379px) {
	.hero {
		.em-img {
			img {
				width: 200px;
				margin-top: -50px;
			}
		}
		h1 {
			margin-top: 10px;
			.logo-em img {
				height: 180px;
    			width: 180px;
			}
		}
		h4 {
			display: none;
			text-align: center;
			margin: 10px auto 0;
			float: none;
		}
		.melon-top {
	    	margin-top: 5px;
	    	img {
	    		width: 70%;
    		    margin-bottom: -65%;
	    	}
		}
		.seeds {
			img {
				width: 55%;
			}
		}
	}
}

@media (min-width: 380px) and (max-width: 449px) {
	.hero {
		.em-img {
			img {
				width: 200px;
				margin-top: -50px;
			}
		}
		h1 {
			margin-top: 10px;
			.logo-em img {
				height: 180px;
    			width: 180px;
			}
		}
		h4 {
			display: none;
			text-align: center;
			margin: 10px auto 0;
			float: none;
		}
		.melon-top {
	    	margin-top: 5px;
	    	img {
	    		width: 70%;
    		    margin-bottom: -55%;
	    	}
		}
		.seeds {
			img {
				width: 55%;
			}
		}
	}
}	

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 450px) and (max-width: 749px) {
	.hero {
		.em-img {
			img {
				width: 300px;
				margin-top: -50px;
			}
		}
		h1 {
			margin-top: 10px;
			.logo-em img {
				height: 180px;
    			width: 180px;
			}
		}
		h4 {
			display: none;
			text-align: center;
			margin: 10px auto 0;
			float: none;
		}
		.melon-top {
	    	margin-top: 5px;
	    	img {
	    		width: 90%;
    		    margin-bottom: -60%;
	    	}
		}
		.seeds {
			img {
				width: 55%;
			}
		}
	}
}

/* Larger than tablet */
@media (min-width: 750px) and (max-width: 1000px) {
	.em-img {
		img {
			width: 450px;
		}
	}
	.hero {
		h1 {
		    margin-top: 10px;
		    padding-left: 80px; 
		    .logo-em img {
    			height: 300px;
    			width: 300px;
			}
		}
	}
	.melon-top {
    	margin-top: 165px;
    	img {
    		width: 80%;
    	}
	}
}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

